<!DOCTYPE html>
<html lang="en">
<head>
    <title>UCDArch App - @ViewBag.Title</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">

    <link href="@Url.Css("main.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Css("jquery-ui-1.8.11.custom.css")" rel="Stylesheet" type="text/css" />*@

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" type="text/javascript"></script>*@
    <script src="//ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script src="@Url.Script("jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @if (false)
    { //Load the jquery docs for intellisense
    <script src="../../Scripts/jquery-1.4.1-vsdoc.js" type="text/javascript"></script>
    }

    @RenderSection("AdditionalScripts", false)
</head>
<body>
    <div class="wrapper">
        @* Render System Wide Status Here *@ 
        @*
        <div id="system_wide_status">
            <div id="system_wide_status_text">
                
            </div>
        </div>
        *@
        <div id="branding">
            <span class="header">
                <h1>My UCDArch App</h1>
                <div class="col1">
                    <span><img src="@Url.Image("logo-ucdavis.png")" alt="UC Davis" /></span> 
                    <span><img src="@Url.Image("logo-caes-long-cap.png")" alt="College of Agricultural &amp; Environmental Sciences" /></span>
                </div>
                <div class="col2">
                    @* Render Navigation *@
                    @Html.Partial("_Navigation")
                </div>
            </span>
        </div>
        @* Update depending on user login status *@
        @*
        <div id="personalbar">
            <div class="col1">
                <span id="welcome_user">Welcome _username_!</span>
            </div>
            <div class="col2" id="LogOffOn">
                <a href="#">logoff</a>
            </div>
        </div>
        *@
        <div class="main">
            <div id="messagecontainer">
                @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage)) { 
                <div id="error_message">
                    @ViewBag.ErrorMessage
                </div>
                }
                
                @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string)) { 
                <div id="status_message">
                    @TempData["Message"]
                </div>
                }
                
                <div class="col1">
                    <h2>@ViewBag.Title</h2>
                </div>
                
                <div class="col2">
                    @* Render Subpage Navigation *@
                    @RenderSection("SubNav", false)
                </div>
            </div>

            @RenderBody()
        </div>
    </div>            
    <div id="footer">
        <div id="footertext">
            <div class="col1">
                @* Render Navigation *@
                @Html.Partial("_Navigation")
            </div>
            <div class="col2">
                <ul>
                    <li>Version # @ViewBag.Version</li>
                    <li>Developed By The College Of Agricultural And Environmental Science Dean's Office</li>
                    <li>Copyright The Regents of the University of California, Davis campus, 2005-11.<br />All Rights Reserved. </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="@Url.Script("Common/jquery.placeholder.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('input, textarea').placeholder();
        });
    </script>

    @*----------- Google Analytics ---------- *@
    <script>
        var _gaq = [["_setAccount", "UA-XXXXX-X"], ["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID 
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; g.async = 1;
            g.src = ("https:" == location.protocol ? "//ssl" : "//www") + ".google-analytics.com/ga.js";
            s.parentNode.insertBefore(g, s)
        } (document, "script"));
    </script>
</body>
</html>
