@{
    ViewBag.Title = "Display Form";
}

@section SubNav {
    <li>@Html.ActionLink("Sample Index", "Index")</li>
    <li>@Html.ActionLink("Form", "Form")</li>
    <li>@Html.ActionLink("Table", "Table")</li>
    <li>@Html.ActionLink("Data Tables", "DataTable")</li>
    <li class="active">@Html.ActionLink("Display Form", "DisplayForm")</li>
}

@section subhead
{
    <h1>Display Form Example</h1>

    <div>
        <p>This is an example of a page that displays some object or infomation</p>
    </div>
}

<form class="well well-small">
    <fieldset>
        <legend>Form info</legend>
        <div class="form-group">
            <label>Name</label>
            <div class="form-control-static">Bob Dobalina</div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <div class="form-control-static">bdobalina@gmail.com</div>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <div class="form-control-static">530-555-5231</div>
        </div>
    </fieldset>
</form>