@{
    ViewBag.Title = "Form Demo";
}

@section SubNav {
    <li>@Html.ActionLink("Sample Index", "Index")</li>
    <li class="active">@Html.ActionLink("Form", "Form")</li>
    <li>@Html.ActionLink("Table", "Table")</li>
    <li>@Html.ActionLink("Data Tables", "DataTable")</li>
    <li>@Html.ActionLink("Display Form", "DisplayForm")</li>
}

<h2>Form Example</h2>
<p class="lead">This is an example of what a standard form would look like</p>
<form class="well form-horizontal" action="@Url.Action("Form")" method="POST">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Personal Information</legend>
        <div class="control-group">
            <label class="control-label" for="inputFirstName"><strong>First Name</strong><span class="required">*</span></label>
            <div class="controls">
                <input type="text" id="inputFirstName" name="inputFirstName" placeholder="First Name" data-val="true" data-val-required="First Name Required">
                <span class="field-validation-valid" data-valmsg-for="inputFirstName" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName"><strong>Last Name</strong><span class="required">*</span></label>
            <div class="controls">
                <input type="text" id="inputLastName" name="inputLastName" placeholder="Last Name" data-val="true" data-val-required="Last Name Required (if Madonna enter N/A)">
                <span class="field-validation-valid" data-valmsg-for="inputLastName" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="email" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputBirthday">Date Of Birth</label>
            <div class="controls">
                <input type="date" id="inputBirthday">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Gender</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optMale" value="male" checked>
                    Male
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optFemale" value="female">
                    Female
                </label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Contact Information</legend>
        <div class="control-group">
            <label class="control-label" for="inputAddress">Address</label>
            <div class="controls">
                <input type="text" id="inputAddress" placeholder="Address">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputState">State</label>
            <div class="controls">
                <select id="inputState">
                    <option value>-- Select A State --</option>
                    <option value="CA">California</option>
                    <option value="NY">New York</option>
                </select>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-link">Cancel</button>
        </div>
    </fieldset>
</form>						