@{
    ViewBag.Title = "Table Demo";
}

@section SubNav {
    <li>@Html.ActionLink("Sample Index", "Index")</li>
    <li>@Html.ActionLink("Form", "Form")</li>
    <li class="active">@Html.ActionLink("Table", "Table")</li>
    <li>@Html.ActionLink("Data Tables", "DataTable")</li>
    <li>@Html.ActionLink("Display Form", "DisplayForm")</li>
}

<h2>Table Example</h2>
<p class="lead">This is an example of a good looking table without any paging/sorting</p>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Social Security</th>
			<th>Gender</th>							
		</tr>
	</thead>
	<tbody>
	    <tr>
	        <th>1</th>
	        <td>Philip</td>
	        <td>Fry</td>
	        <td>123-33-4032</td>
	        <td>Male</td>
	    </tr>
		<tr>
			<td>2</td>
			<td>John</td>
			<td>Zoidberg</td>
			<td>342-23-2423</td>
			<td>Male</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Hermes</td>
			<td>Conrad</td>
			<td>493-23-4323</td>
			<td>Male</td>
		</tr>
		<tr> 
			<td>4</td>
			<td>Amy</td>
			<td>Wong</td>
			<td>454-45-4324</td>
			<td>Female</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Turanga</td>
			<td>Leela</td>
			<td>134-31-3431</td>
			<td>Female</td>
		</tr>
	</tbody>
</table>					