@model IEnumerable<SampleUCDArchApp.Core.Domain.Customer>

@{
    ViewBag.Title = "Customers";
}

@section AdditionalScripts {
    <link href="@Url.Css("jquery-ui-1.8.11.custom.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Script("Common/jquery.dataTables.min.js")"></script>
}


<table id="customers">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                CompanyName
            </th>
            <th>
                ContactName
            </th>
            <th>
                Country
            </th>
            <th>
                Fax
            </th>
            <th>
                Id
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
    
            <tr>
                <td>
                </td>
                <td>
                    @item.CompanyName
                </td>
                <td>
                    @item.ContactName
                </td>
                <td>
                    @item.Country
                </td>
                <td>
                    @item.Fax
                </td>
                <td>
                    @item.Id
                </td>
            </tr>
    
        }
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        $('#customers').dataTable({
            "bJQueryUI": true
            //"sPaginationType": "full_numbers"
        });
    });
</script>
