@{
    ViewBag.Title = "Home Page";
    ViewBag.NavigationKey = "Home";
}

<h3>@ViewData["Message"]</h3>
<br />
<p>
    <ul>
        <li>@Html.ActionLink("List of Orders (with Edit/New)", "Index", "Order")</li>
        <li>@Html.ActionLink("Example of using Json with Orders", "Index", "Json")</li>
        <li>@Html.ActionLink("List of Customers using DataTables", "Index", "Customer")</li>
        <li>@Html.ActionLink("Sample layout page", "Sample", "Home")</li>
    </ul>
</p>