@model SampleUCDArchApp.Controllers.OrderViewModel
@using SampleUCDArchApp.Helpers;

@Html.ValidationSummary()

@using (Html.BeginForm())
{      
    @Html.AntiForgeryToken()
    @Html.HiddenFor(o => o.Order.Id)

    <fieldset>
        <legend>Fields</legend>
        <ul>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(x => x.Order.OrderDate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.Order.OrderDate)
                    @Html.ValidationMessageFor(x => x.Order.OrderDate)
                </div>
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(x => x.Order.ShipAddress)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.Order.ShipAddress)
                    @Html.ValidationMessageFor(x => x.Order.ShipAddress)
                </div>
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(x => x.Order.OrderedBy, "Ordered By:")
                </div>
                <div class="editor-field">
                    @(this.Select("Order.OrderedBy").Options(Model.Customers, x => x.Id, x => x.CompanyName)
                            .Selected(Model.Order.OrderedBy != null ? Model.Order.OrderedBy.Id : "")
                            .FirstOption(null, "--Select A Company--")
                            .HideFirstOptionWhen(Model.Order.OrderedBy != null)
                            .IncludeUnobtrusiveValidationAttributes(Html)
                    )
                    @Html.ValidationMessageFor(x => x.Order.OrderedBy)
                </div>
            </li>
            
            <li>
                <div class="editor-label">
                    <label>&nbsp;</label>
                </div>
                <div class="editor-field">      
                    <input class="button" type="submit" value="Submit" />
                    | <a href="#" title="Cancel">Cancel</a>
                </div>
            </li>
        </ul>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
